<div class="jumbotron text-center">
    <h1 class="display-4">Ozone reading: <%= @output[0]['AQI'] %></h1>
    <p class="lead">This is the current ozone air quality read out for my neighborhood in Carbondale, CO</p>
    <hr class="my-4">
    <p>Hit reload to update the reading</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
</div>

<br>
