/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.good {
    background-color: #00E400;
}

.moderate {
    background-color: #FFFF00;
}

.usg {
    background-color: #FF7E00;
}

.unhealthy {
    background-color: #FF0000;
}

.very-unhealthy {
    background-color: #8F3F97;
}

.hazardous {
    background-color:#7E0023;
}

.error {
    background-color: #808080;
}